[flake8]
max-line-length = 88
exclude =
    .git,
    __pycache__,
    venv,
    .venv,
    migrations,
    .tox,
    .pytest_cache
ignore =
    E203,
    W503,
    F401
per-file-ignores =
    __init__.py:F401
    settings/*.py:F401,E501